# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# VSCode settings (se usar VSCode)
.vscode/

# Logs
*.log

# Python egg info
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints (se usar)
.ipynb_checkpoints/
